@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
 --font01:'Courier New', Courier, monospace;
 --font02: 'Sriracha', cursive;
 --font03: 'Passion One', cursive;
}

*{
    padding: 0px;
    margin: 0px;
   
}

html,body{

    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font01);
    font-size: 3vw;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font02);
    font-size: 3.5vw;
}

header > p{
    padding-bottom: 50px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font03);
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(65, 65, 65);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.329);
    width: 400px;
}

footer{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
    
}